{%- if config.google %}
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{config.google}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    if (location.port !== 80 || location.port !== 443) {
      return;
    }
    ga.src = 'https://ssl.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{%- endif %}

{%- set enginefiles = engines %}
{%- if enginefiles|length %}

{%- for file in enginefiles %}
{%- if config.debug %}
<script src="{{content_url('')}}/sea-modules/{{file}}"></script>
{%- else %}
<script src="http://assets.spmjs.org/{{file}}"></script>
{%- endif %}
{%- endfor %}

{%- else %}

{%- if config.debug %}
<script src="{{content_url('')}}/sea-modules/seajs/seajs/2.0.0/sea.js"></script>
{%- else %}
<script src="http://assets.spmjs.org/seajs/seajs/2.0.0/??sea.js,plugin-combo.js"></script>
{%- endif %}

{%- endif %}

{%- set src = src_files %}
<script>
  (function() {
  seajs.config({
    alias: {
      $: 'jquery/jquery/1.7.2/jquery',
      jquery: 'jquery/jquery/1.7.2/jquery',
      mocha: "gallery/mocha/1.9.0/mocha",
      expect: "gallery/expect/0.2.0/expect",
      sinon: "gallery/sinon/1.6.0/sinon"
    },
    comboExcludes: {test: function(uri) {
      return !/\/\/assets\.spmjs\.org/.test(uri);
    }}
  });

  var query = location.search;
  var srcdir = 'dist';
  if (query === '?src') {
    srcdir = 'src';
    seajs.use({{src.css|json_encode}});
  } else if (query === '?cov') {
    srcdir = 'src-cov';
    seajs.use({{src.css|json_encode}});
  } else {
    seajs.use({{dist.css|json_encode}});
  }
  var src = {{src|json_encode}};
  {%- set pkg = config.package %}

  {%- if pkg.spm -%}

    {%- if pkg.spm.alias %}
      seajs.config({ alias: {{pkg.spm.alias|clean_alias|json_encode}}});
    {%- endif %}

    {%- if pkg.spm.devAlias %}
      seajs.config({ alias: {{pkg.spm.devAlias|clean_alias|json_encode}}});
    {%- endif %}

    {%- for value in src.alias %}
      seajs.config({alias: {
        "{{loop.key}}": seajs.resolve("{{content_url('')}}/" + srcdir + "/{{value}}"),
        "{{pkg.family}}/{{pkg.name}}/{{pkg.version}}/{{loop.key}}": seajs.resolve("{{content_url('')}}/" + srcdir + "/{{value}}")
      }});
    {%- endfor %}
  {%- endif %}
  })();
</script>
