{%- if config.google %}
<script>
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{config.google}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = 'https://ssl.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{%- endif %}
{%- set enginefiles = engines %}
{%- for file in enginefiles %}
<script src="{{content_url('')}}/sea-modules/{{file}}"></script>
<script src="http://static.alipayobjects.com/jquery/jquery/1.7.2/jquery.js"></script>
{%- endfor %}

{%- set dist = dist_files %}
{%- for file in dist.css %}
<link rel="stylesheet" href="{{content_url('')}}/dist/{{file}}" />
{%- endfor %}
{%- for file in dist.js %}
<script src="{{content_url('')}}/dist/{{file}}"></script>
{%- endfor %}

<script>
  {%- if config.package.spm -%}

    {%- if config.package.spm.alias %}
      seajs.config({ alias: {{config.package.spm.alias|json_encode}}});
    {%- endif %}

    {%- if config.package.spm.devAlias %}
      seajs.config({ alias: {{config.package.spm.devAlias|json_encode}}});
    {%- endif %}

    seajs.config({ alias: {{config.package|output_alias|json_encode}}});

  {%- endif %}

  seajs.config({
    alias: {
      '$': 'jquery/jquery/1.7.2/jquery'
    }
  });
</script>
