{% if theme.analytics -%}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{theme.analytics}}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{%- endif %}
<script>
  (function() {
    var data = {{resource.package|json_dumps}}
    data.dependencies && (delete data.dependencies['$'])
    data.devDependencies && (delete data.devDependencies['$'])

    seajs.config({ alias: data.dependencies })
    seajs.config({ alias: data.devDependencies })
    seajs.config({ alias: {{resource.files|src_js}} })
  })();
</script>
