@import url(http://fonts.googleapis.com/css?family=Marcellus);

body {
    background-color: #F2F0E9;
    text-rendering: optimizelegibility;
}
#body-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1040px;
    padding-top: 20px;
}
#sidebar-wrapper {
    float: left;
    position: fixed;
    color: #9c9277;
    text-shadow: 0 1px 0 #fff;
    font-size: 14px;
    width: 220px;
}
#content-wrapper {
    float: right;
    width: 800px;
    font-size: 14px;
}
#sidebar-wrapper h1 {
    margin: 0;
    font-family: "Marcellus", sans-serif;
}
#sidebar-wrapper .version {
    font-size: 12px;
}
#sidebar-wrapper .source {
    display: inline-block;;
    background-color: #5784bf;
    background-image: -webkit-linear-gradient(#669be1, #5784bf);
    box-shadow: 0 -4px rgba(0, 0, 0, 0.1) inset;
    font-size: 16px;
    font-family: "Trebuchet MS", sans-serif;
    padding: 8px 16px 12px;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}
#sidebar-wrapper .source:hover {
    color: #fff;
    box-shadow: 0 -4px rgba(0, 0, 0, 0.1) inset, 0 0 100px rgba(255,255,255, 0.2) inset;
}
#sidebar-wrapper .package-root {
    position: relative;
    top: -14px;
    left: 4px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.2);
}
#navigation {
    list-style-type: none;
    font-size: 14px;
    border-top: 1px dashed #D6D4CD;
    border-bottom: 1px dashed #D6D4CD;    
    margin: 20px 0 0 0;
    padding: 10px 0;
    zoom: 1;
}
#navigation:after {
    display: block;
    clear: both;
    content: " ";
    font-size: 0;
}
#navigation li {
    float: left;
}
#navigation li + li {
    margin-left: 8px;
}
#navigation a:hover,
#sidenav a:hover {
    border-bottom: 1px dotted #769FD0;
}
#sidebar-wrapper a {
    color: #6c97c2;
    text-decoration: none;
}
#sidebar-wrapper a:hover {
    color: #48b;
}
#navigation .active a {
    color: #48d;
    font-weight: bold;
}
#content-wrapper {
    border: 1px solid #D6D4CE;
    border-radius: 4px;
    background-color: #FFF;
}
#content {
    position: relative;
    padding: 10px 30px 30px;
}
#content .entry-title {
    margin-bottom: 12px;
    font-family: "Marcellus", sans-serif;
}
#content .meta {
    color: #BCBCBD;
    font-size: 12px;
    margin: 12px 0;
}
#content p, #content h1, #content h2, #content h3, #content h4 {
    font-family: Georgia,'Xin Gothic','PT Sans','Hiragino Sans GB','Helvetica Neue',Helvetica,Arial,sans-serif;
    color: #555;
}
#content p, #content ul, #content ol {
    color: #666;
}
#content li {
    line-height: 1.6;
}
#content a {
    color: #55A4F2;
    text-decoration: none;
}
#content a:hover {
    text-decoration: underline;
}
#content h2 {
    margin-top: 40px;
    padding-bottom: 4px;
    border-bottom: 2px solid #eee;
    font-family: "Marcellus", sans-serif;
}
#content hr {
    display: block;
    border: 0;
    height: 4px;
    background-color: #ddd;
    margin-top: 20px;
}
#content pre {
    border: 1px solid #ccc;
    padding: 6px 10px;
    overflow: auto;
    border-radius: 3px;
    background-color: #F8F8F8;
    line-height: 19px;
    font-size: 13px;
    white-space: pre;
}
#content code {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.75);
    background-color: #fee9cc;
    padding: 1px 3px;
    border-radius: 3px;
    margin-left: 3px;
    margin-right: 3px;
}
#content pre code {
    background-color: transparent;
    margin: auto;
}
#content blockquote {
    border-left: 0.4em solid #ddd;
    color: #777;
    margin: 15px 0;
    padding: 0 15px;
}
#footer-wrapper {
    clear: both;
    color: #9C9C9C;
    text-shadow: 0 1px 0 #FFF;
    font-family: Georgia,'Xin Gothic','PT Sans','Hiragino Sans GB','Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    max-width: 980px;
    padding: 10px 0;
    text-align: right;
}
#footer-wrapper a {
    color: #9C9C9C;
    text-decoration: none;
}

/* other */
#content .doc-api {
    color: #784942;
}
#content .doc-api em {
    font-weight: normal;
    font-size: 14px;
    margin-left: 4px;
    color: #999;
}
#content .ff-iframe {
    position: relative;
}
#content .ff-iframe iframe {
    width: 100%;
}
#content .ff-iframe .new-window {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 12px;
}
#content .highlight {
    position: relative;
}
#content .collapse pre {
    overflow: hidden;
    height: 60px;
}
#content .highlight .code-toggle {
    position: absolute;
    top: -17px;
    right: 1px;
    font-size: 12px;
    padding: 3px 5px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px 4px 0 0;
    text-decoration: none;
    color: #fff;
    line-height: 1;
}

#sidenav {
    padding-top: 10px;
    margin-top: 0;
    font-size: 14px;
    line-height: 22px;
    padding-left: 20px;
}

/* responsive */
@media (max-width: 980px) {
    #body-wrapper, #sidebar-wrapper, #content-wrapper {
        float: none;
        position: static;
        width: auto;
    }
    #navigation {
        border: none;
    }
    #sidebar-wrapper {
        padding: 0 40px;
    }
}
