<!DOCTYPE HTML>
<html lang="{{theme.lang}}">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{{resource.package.name|title}}{% endblock %}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{static_url('seajs/sea.js')}}"></script>
    {%- if theme.debug %}<script>seajs._nicodebug = true</script>{%- endif %}
    <script src="{{static_url('js/arale-helper.js')}}"></script>
    {%- include "snippet/head.html" %}
  </head>
  <body>
    {{iframe.text}}
  </body>
</html>
