<!DOCTYPE HTML>
<html lang="{{theme.lang}}">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{{site.name}}.{{resource.package.name|title}}{% endblock %}</title>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{static_url('css/normalize.css')}}" />
    <link rel="stylesheet" href="{{static_url('css/site.css')}}" />
    <link rel="stylesheet" href="{{static_url('css/solarized.css')}}" />
    <script type="text/javascript" src="{{static_url('seajs/sea.js')}}"></script>
    <script type="text/javascript" src="{{static_url('js/arale-helper.js')}}"></script>
    {% include "snippet/ga.html" %}
  </head>
  <body>
    <header id="header-wrapper">
      <h1><span class="color-gray">{{site.name}}.</span>{{resource.package.name|title}}</h1>
    </header>
    <nav id="navigation">
      {%- block navigation %}
      <ul>
        <li><a href="{{content_url('index.html')}}">首页</a></li>
        {%- set item = resource.posts|first_category('docs') %}
        {%- if item %}
        <li><a href="{{item|permalink}}">文档</a></li>
        {%- endif %}
        {%- set item = resource.posts|first_category('examples') %}
        {%- if item %}
        <li><a href="{{item|permalink}}">演示</a></li>
        {%- endif %}
        <li class="side"><a target="_blank" href="{{content_url('tests/runner.html')}}">用例</a></li>
      </ul>
      {%- endblock %}
    </nav>
    <div id="content-wrapper">
      <div id="content">{% block content %}{% endblock %}</div>
    </div>
    <div id="footer-wrapper">
      <footer>
        <p class="powered">Powered by <a href="{{system.homepage}}">{{system.name}}</a> {{system.version}} with theme {{theme.name}} {{theme.version}}</p>
      </footer>
    </div>
  </body>
</html>
